
.txt{
    font-family: 'Rubik', sans-serif;
}
.dance{
    font-family: 'Dancing Script', cursive;
}
.courgette{
    font-family: 'Courgette', cursive;
}
.cuprum{
    font-family: 'Cuprum', sans-serif;
}
body{
    /* font-family: 'Kalam', cursive; */
    font-family: 'Rubik', sans-serif;
}